body {
  max-width: 1920px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  @media (min-width: 1400px) {
    max-width: 1360px;
  }
}
.container-outer {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 1660px) {
    margin-left: 40px;
    margin-right: 40px;
  }
}
textarea, textarea:focus, input, input:focus, button, button:focus {
  outline: none;
}

.blue {
  background: blue;
}
.red {
  background: red;
}
.green {
  background: green;
}
