// primary secondary tertiary quaternary quinary senary septenary octonary nonary denary

// Font Colors
$font-color-primary:      #6D6D6C;
// $font-color-secondary:    #c26807;
// $font-color-teritary:     #2a2a2a;


// Background Colors
$background-primary:      #ffffff;
$background-secondary:    #666666;
// $background-teritary:     #c26807;


// Border Colors
$border-primary:          #ffffff;
// $border-secondary:        #ffffff;
// $border-teritary:         #e5e5e5;
