// primary secondary tertiary quaternary quinary senary septenary octonary nonary denary

// Font Colors
$font-color-primary:        #6D6D6C;
$font-color-secondary:      #ffffff;
$font-color-tertiary:       #545453;
$font-color-quaternary:     #696B70;

// Background Colors
$background-primary:        #ffffff;
$background-secondary:      #666666;
$background-tertiary:       #65B32E;

// Border Colors
$border-primary:            #ffffff;
$border-secondary:          rgba(149, 152, 154, 0.25);
$border-teritary:           #666666;
