.table-underline {
  border-bottom: 1px solid $border-quinary;
  p {
    margin: 10px 0;
  }
}
h4.table-underline {
  padding: 10px 0;
  margin-bottom: 0;
}

a.table-underline {
  padding: 10px 0;
  display: block;
  color: $font-color-quinary;
}

.new-table {
  margin-top: 60px;
}
