footer {
  height: 80px;
  margin: 30px 0;
  background: -moz-linear-gradient(top, rgba(112,112,112,0.16) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(112,112,112,0.16) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(112,112,112,0.16) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29707070', endColorstr='#ffffff',GradientType=0 );
  .container-outer {
    height: 80px;
    display: flex;
    align-items: center;
    address {
      width: auto;
      margin-right: auto;
      align-self: flex-end;
      margin-bottom: 20px;
      .footer-logo {
        height: 66px;
        width: 60px;
        background-image: url("../../images/logo-green.svg");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        bottom: 2px;
      }
      p {
        display: inline-block;
        position: relative;
        margin-bottom: 0;
        font-size: 14px;
        color: #6D6D6C;
        &:after {
          content: "\00b7";
          margin: 0 2px 0 5px;
        }
      }
      a {
        font-size: 14px;
        &:last-child:before {
          content: "\00b7";
          margin: 0 5px 0 2px;
        }
      }
    }
    nav {
        margin-left: auto;
        align-self: flex-end;
      ul {
        padding-left: 0;
        list-style-type: none;
        text-align: right;
        li {
          display: inline-block;
        }
      }
    }
    .footer-nav {
      margin-bottom: 4px;
      ul {
        li {
          a {
            font-size: 14px;
            &:after {
              content: "\00b7";
              margin: 0 2px 0 5px;
            }
          }
          &:first-child {
            a {
              margin-left: 0;
            }
          }
          &:last-child {
            a:after {
              content: "";
              margin: 0;
            }
          }
        }
      }
    }
  }
}
